@model IEnumerable<Ugani_Restaurant.Models.HOADON>

@{
    ViewBag.Title = "ListBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-auto">
    <h3 class="text-center mt-3">DANH SÁCH ĐƠN HÀNG</h3>
    <table class="table">
        <tr>
            <th class="text-center">
                STT
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.NGAYLAPHD)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TONGTIEN)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TINHTRANG)
            </th>
            <th></th>
        </tr>
        @{
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @i
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.NGAYLAPHD)
                    </td>
                    <td class="text-center">
                        @Math.Round(item.TONGTIEN.Value, 0).ToString("#,##0").Replace(',', '.') đ
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.TINHTRANG)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Xem chi tiết", "DetailsBill", new { id = item.MAHD }, new { @class = "btn btn-primary" })
                        @{
                            if (item.TINHTRANG != "Đã duyệt")
                            {
                                @Html.ActionLink("Xóa", "DeleteBill", new { id = item.MAHD }, new { @class = "btn btn-danger btn-delete", @data_toggle = "modal", @data_target = "#modalDelete", @data_id = item.MAHD })
                            }
                        }
                    </td>
                </tr>
                i++;
            }
        }

    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalDeleteLabel">Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalDeleteContent">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                <button type="button" class="btn btn-primary" id="btn-delete-submit">Xóa</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    $(function () {
        var id = '';
        $('.btn-delete').click(function (e) {
            e.preventDefault();
            id = $(this).data('id');
            var url = $(this).attr('href');
            $.post(url, { id: id }, function (data) {
                $('#modalDeleteContent').html(data);
                $('#modalDelete').modal('show');
            });
        });

        // Gọi hàm xử lý sự kiện click từ button khác
        $('#btn-delete-submit').click(function (e) {
            $.ajax({
                type: 'GET',
                url: '/Home/DeleteBillSubmit',
                data: { CatId: id },
                success: function (response) {
                    window.location.reload();
                }
            });
        });
    });


</script>

