@model Ugani_Restaurant.Models.MONAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MONAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENMONAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENMONAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINHANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINHANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DONGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DVT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DVT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAIMON.TENLOAIMON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIMON.TENLOAIMON)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAMONAN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
