@using Ugani_Restaurant.Models

@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
}
@Styles.Render("~/Content/bootstrap.css")
@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Content/StyleCSS/main.css")
@Scripts.Render("~/Scripts/bootstrap.bundle.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")
<div class="body-login">
    <section id="loginForm">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h2>Đăng nhập</h2>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <ul>
                    <li class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </li>
                    <li class="col-md-offset-2">
                        @Html.ActionLink("Đăng ký tài khoản mới", "Register")
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <input type="submit" value="Đăng nhập" class="btnLogin" />
            </div>
            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}