@model Ugani_Restaurant.Models.RegisterViewModel
@{
    Layout = null;
    ViewBag.Title = "Register";
}

@Styles.Render("~/Content/bootstrap.css")
@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Content/StyleCSS/main.css")
@Scripts.Render("~/Scripts/bootstrap.bundle.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")

<div class="body-register">
    <section id="registerForm">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h2>Đăng ký</h2>
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" class="btnRegister" value="Đăng ký" />
            </div>
        }

    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
